# legacy-peer-deps=true
# @open-social-protocol:registry==http://registry.npmjs.org
# //nexus-svc.kube-public.svc.kiki.local:8081/repository/npm-osp-hosted/:_authToken=NpmToken.b18d62bc-90e1-329b-b1a4-886b2bd9aff7

legacy-peer-deps=true
//gitlab.com/api/v4/packages/npm/:_authToken=glpat-A-CFw5TRyMsB_pY-4_63
@keccak256-evg:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/projects/56379578/packages/npm/:_authToken=glpat-Yi_-aqYJGHd5M__2_a1q
@open-social-protocol:registry=https://gitlab.com/api/v4/projects/56379578/packages/npm/
