@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,400;0,700;1,400&display=swap");
@import "~sanitize.css";
@import "~sanitize.css/forms.css";
@import "~sanitize.css/typography.css";

* {
  padding: 0;
  margin: 0;
}

/* 如果要使用font-variation-settings */
@font-face {
  font-family: "obviously-variable";
  src: url("https://cdn.trex.xyz/assets/assets/fonts/Obviously.7d7457f3b868a297cc9221aaf21076bb.otf?platform=web&hash=7d7457f3b868a297cc9221aaf21076bb")
    format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("https://cdn.trex.xyz/assets/assets/fonts/Inter.0a77e23a8fdbe6caefd53cb04c26fabc.ttf?platform=web&hash=0a77e23a8fdbe6caefd53cb04c26fabc")
    format("truetype");
  font-style: normal;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
